doctype html
html
	div(style="margin-left: 100px")
		form(method="post", action="/book/success")
			h1 Book Details
			label Book ID : 
			input(type="number", name="bookid", placeholder="book id")
			br
			br
			label Book Name : 
			input(type="text", name="bookname", placeholder="book name")
			br
			br
			label Book Author : 
			input(type="text", name="author", placeholder="author name")
			br
			br
			button Submit